<mat-toolbar color="primary">
        <button mat-icon-button (click)="this.openSideBar()">
          <mat-icon>menu</mat-icon>
        </button>
        
        <h1>BTC Buddy</h1>
        <span class="example-spacer"></span>
        <span>Welcome {{this.username}}</span>
        <span class="example-spacer"></span>
        <span>{{this.dateTimeValue | date: 'medium'}}</span>
       <!--<button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
           <mat-icon>fullscreen</mat-icon>
        </button>-->
        <button mat-button (click)="toggleTheme()">{{dark ? 'Light' : 'Dark'}} theme</button>
             
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item (click)="settings()">
              <mat-icon>settings</mat-icon>
              <span>User Settings</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>          
          </mat-menu>
        
      </mat-toolbar>