<div class="bg">
    <mat-grid-list cols="3">
        <mat-grid-tile [rowspan]="1"></mat-grid-tile>

        <!-- Writing markup for login starts -->
        <mat-grid-tile class='login-element'>
            <div class="login-container">

                <!-- Template Body starts -->
                <div class="login-box-body">
                  <form class="{{formClass}}" #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form" role="form">
                    <mat-grid-list cols="9">
                     
                        <mat-grid-tile [colspan]="2" class="login-icon">

                        </mat-grid-tile>
                        <mat-grid-tile  [colspan]="7">
                           
                        </mat-grid-tile>
                    </mat-grid-list>
                    <!--generate template automatically -->
                    <mat-grid-list cols="9" *ngFor="let control of controls" >
                            <mat-grid-tile [rowspan]="1" class={{control.class}}>
                                <mat-icon>{{control.icon}}</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7">
                                <mat-input-container class="justifier" required >
                                    <input matInput  placeholder="{{control.placeholder}}" [formControlName]="control.key"  type="{{control.type}}">
                                </mat-input-container>
                            </mat-grid-tile>
                    </mat-grid-list>
                       
                    <!-- Markup for getting Password ends -->
                    <mat-grid-list cols="9">
                        <mat-grid-tile [rowspan]="1" [colspan]="1">
                        </mat-grid-tile>
        
                        <mat-grid-tile [colspan]="3">
                            <button mat-raised-button type="submit" class="login-button">
                                <mat-icon>input</mat-icon> Login
                            </button>

                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1">
                              
                            </mat-grid-tile>
    

                        <mat-grid-tile [colspan]="3">
                                <button mat-raised-button type="button" routerLink="/register" class="login-button">
                                    <mat-icon>accessibility</mat-icon> Register
                                </button>
    
                            </mat-grid-tile>

                    </mat-grid-list>

                </form>
                </div>
                <!-- Template Body ends -->

            </div>
        </mat-grid-tile>
        <!-- Writing markup for login ends -->
        <mat-grid-tile></mat-grid-tile>

    </mat-grid-list>



</div>