<div class=" flex-container" fxLayout="column" >
  <div class="item item-1" fxFlex="40%">
    <mat-card>
      <mat-card-title>Create Business Unit</mat-card-title>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="businessUnitForm" *ngFor="let control of this.businessUnitControls">
            <form [formGroup]="businessUnitForm" (onsubmit)="this.onSubmit()">
              <div *ngFor="let item of control">
                <ng-template matStepLabel>{{item.label}}</ng-template>
                <mat-form-field>
                  <input matInput [placeholder]="item.placeholder" [formControlName]="item.key" required>
                </mat-form-field>
              </div>
            </form>
            <div class="button-row">
              <button mat-button color="primary" matStepperNext>Save</button>
            </div>
          </mat-step>

          <!-- Submit Button -->
          <mat-step>
            <form [formGroup]="businessUnitForm" (onsubmit)="this.onSubmit()">
              <ng-template matStepLabel>Submit</ng-template>
              Click to Save
              <div class="button-row">
                <button mat-button color="warn" type="submit">Save</button>
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
      <div class="item item-2" fxFlex="40%" fxFlexOrder="3">
      
        <mat-table #table [dataSource]="dataSourceSec">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
              <!-- Position Column -->
              <ng-container matColumnDef="businessName">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.businessName}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="postCode">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.postCode}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="street1">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.street1}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="street2">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.street2}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>   
       
        </mat-table>
  </div>
  <div class="item item-3" fxFlex>Item 3</div>
</div>
