<div class="flex-container" fxLayoutGap="10px">
  <div class="item item-1" fxFlex="50%">
    <div class="businessUnit">
      <div class="item item-1" fxFlex="40%">
          <mat-card>
              <mat-card-title>Create Business Unit</mat-card-title>
              <mat-card-content>
                  <div class='container' [dragula]='"bag-task1"' [dragulaOptions]="options" [dragulaModel]='items'>
                      <div *ngFor="let item of items">
                        <mat-icon class="example-icon">call_to_action</mat-icon>
                        {{item}}
                      </div>
                    </div>
              </mat-card-content>
          </mat-card>       
      </div>
      <div class="item item-1" fxFlex="50%">
        <div class='container' [dragula]='"bag-task1"' [dragulaModel]="itemDrop" [dragulaOptions]="options">
            <mat-card>
                <mat-card-title>Create Business Unit</mat-card-title>
                <mat-card-content>
                    <div class='container' [dragula]='"bag-task1"' [dragulaOptions]="options" [dragulaModel]='itemDrop'>
                        <div *ngFor="let item of itemDrop">
                          <mat-icon class="example-icon">call_to_action</mat-icon>
                          {{item}}
                        </div>
                      </div>
                </mat-card-content>
            </mat-card>             
        </div>
      </div>
    </div>
  </div>
  <app-business-unit-note-chart></app-business-unit-note-chart>

  <div class="item item-2" fxFlex="30%">

    <mat-table #table [dataSource]="dataSourceSec">

      <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="businessName">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.businessName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="postCode">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.postCode}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="street1">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.street1}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="street2">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.street2}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>

  <div class="item item-3" fxFlex="20%">
    <mat-card>
      <mat-card-title>Create Business Unit</mat-card-title>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="businessUnitForm" *ngFor="let control of this.businessUnitControls">
            <form [formGroup]="businessUnitForm" (submit)="this.onSubmit()">
              <div *ngFor="let item of control">
                <ng-template matStepLabel>{{item.label}}</ng-template>
                <mat-form-field>
                  <input matInput [placeholder]="item.placeholder" [formControlName]="item.key" required>
                </mat-form-field>
              </div>
            </form>
            <div class="button-row">
              <button mat-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>


          <mat-step>
            <form [formGroup]="businessUnitForm" (submit)="this.onSubmit()">
              <ng-template matStepLabel>Submit</ng-template>
              Click to Save
              <div class="button-row">
                <button mat-button color="warn" type="button" (click)="this.onSubmit()">Save</button>
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--
<div class=" flex-container" fxLayout="column" fxLayoutGap="10px">
  <div class="item item-1" fxFlex="40%" >
    <mat-card>
      <mat-card-title>Create Business Unit</mat-card-title>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="businessUnitForm" *ngFor="let control of this.businessUnitControls">
            <form [formGroup]="businessUnitForm" (submit)="this.onSubmit()">
              <div *ngFor="let item of control">
                <ng-template matStepLabel>{{item.label}}</ng-template>
                <mat-form-field>
                  <input matInput [placeholder]="item.placeholder" [formControlName]="item.key" required>
                </mat-form-field>
              </div>
            </form>
            <div class="button-row">
              <button mat-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>

       
          <mat-step>
            <form [formGroup]="businessUnitForm" (submit)="this.onSubmit()">
              <ng-template matStepLabel>Submit</ng-template>
              Click to Save
              <div class="button-row">
                <button mat-button color="warn" type="button" (click)="this.onSubmit()">Save</button>
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
    
        <mat-table #table [dataSource]="dataSourceSec">
    
  
       
          <ng-container matColumnDef="businessName">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.businessName}} </mat-cell>
          </ng-container>
    
         
          <ng-container matColumnDef="postCode">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.postCode}} </mat-cell>
          </ng-container>
    
        
          <ng-container matColumnDef="street1">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.street1}} </mat-cell>
          </ng-container>
    
      
          <ng-container matColumnDef="street2">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.street2}} </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        </mat-table>
      </div>
</div>
-->